body {
    width: 97vw;
    margin: 0.5vw 3vw;
    font-family: sans-serif;
}

.container {
    width: 40vw;
    float: left;
    position: relative;
}

header {
    margin-bottom: -0.2vw;
}

header img {
    max-width: 32vw;
    height: auto;
    opacity: 0.8;
}

.center {
    position: absolute;
    top: 22%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    font-weight: 700;
    color: azure;
    text-shadow: 2px 2px 4px #000000;   
}

.green {
	position: absolute;
    top: 22%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 16vw;
    height: 16vw;
	max-width: 16vw;
    max-height: 16vw;
    border-radius: 50%;
	background-color:darkcyan;     
}

navbar li {
    font-size: 1.5em;
    padding: 1vw;
    border-bottom: 1px groove lightgrey;
    width: 28vw;
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

navbar ul {
    list-style-type: none;
    padding-left: 1vw;
    margin: 0;
    background-color:dimgrey;
    max-width: 31vw;
}

a {
   color: azure;
   text-decoration: none;
}

a:hover {
    color: cyan;
    
}
main {
    float: left;
    width: 50vw;
    min-width: 45vw;
    color: black;
    text-shadow: 2px 2px 4px lightgrey;
}

main h1 {
    font-size: 3.5em;
}

main h2 {
    font-size: 2.3em;
    margin: 2vw 0;
}

main img {
    max-width: 8vw;
    height: auto;
    opacity: 0.8;
}

main div.prev,main div.last,main div.up,main div.down,main div.long1,main div.long2,main div.long3,main div.sum1,main div.sum2,main div.sum3 {
    margin: 4vw 0;
}

.freq {
    display: flex;
}

.freq * {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
}

span.giant {
    font-size: 4.5em;
}

.num {
    font-size: 2.9em;
}

.cont {
    float: left;
    position: relative;
    text-align: center;
}

.up-num,.down-num,.prev-num,.last-num,.freq-num,.long1-num,.long2-num,.long3-num,.sum1-num,.sum2-num,.sum3-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 2px 2px 4px lightgrey;
    font-weight: bold;
    font-size: 1.9em;
}

.freq-num {
    left: 40%;
}
.down,.last,.long2,.long3,.sum2,.sum3 {
    clear: both;
    padding-top: 1vw;
}